{% extends 'base.html.twig' %}

{% block main %}
<div class="row">
        <div class="col s12"></div>
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m7">

        <div class="card">
            <div class="card-image">
                <img src="{{ asset('images/cv.png') }}">

            </div>
        </div>
    </div>
</div>

{% endblock %}
