{% extends 'base.html.twig' %}

{%  block main %}
<div class="container" m>
    <div class="row" style="display:flex;justify-content:center;align-items:center;>
        <div class="col s12 m6">
            <div class="card #eeeeee grey lighten-3">
                <div class="card-content #bdbdbd grey lighten-1">
                    <span class="card-title">{{ article.title }}</span>
                    <br/>
                    {{ article.contenu }}
                    </br>

                </div>
                <div class="card-action #bdbdbd grey lighten-1">
                    <a href="{{ path('removeArticle', {id: article.id})  }}">Remove</a>
                    <a href="{{ path('article')}}">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}
